* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.circle{
    width: 406px;
    height: 406px;
    flex-shrink: 0;
    margin-left: auto;
    margin-bottom: auto;


    
    border-radius: 406px;
    opacity: 0.6;
    background: var(--brand-purple, #8C30F5);
}