

                              /* Not using anymore. */
                              /* Manual hero section background*/

.PurpleCircle{
    display: flex;
    position: relative;
    width: 380px;
    height: 300px;
    flex-shrink: 0;
    margin-left: auto;
    margin-bottom: auto;

    border-radius: 9999px;
    opacity: 0.5;
    filter: blur(130px);
    -webkit-filter: blur(130px);
    background: var(--brand-purple, #8C30F5);
}

.TurqoiseCircle{
    display: flex;
    position: relative;
    flex-shrink: 0;
    width: 168px;
    height: 168px;
    margin: auto 45% auto auto;
    filter: blur(60px);

    opacity: 0.70;
    border-radius: 9999px;
}

.parallelogram{
    position: absolute;
    transform: skewY(-10deg);
}