.call-to-action-section {
  background: var(--turquoise-100);
  margin-top: var(--space-80);
  padding: 0 var(--space-32);
}

.call-to-action-section-wrapper,
.call-to-action-title,
.call-to-action-header,
.cta-badge-container,
.call-to-action-mockup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-section-content,
.call-to-action-title,
.call-to-action-header,
.cta-get-the-app {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.call-to-action-section-content {
  width: 540px;
  gap: var(--space-48);
  margin: 0 32px;
}

.call-to-action-title,
.cta-get-the-app {
  gap: var(--space-8);
}

.call-to-action-header {
  font-size: var(--fs-48);
  font-weight: var(--fw-800);
  line-height: var(--lh-64);
  white-space: nowrap;
}

.call-to-action-description {
  color: var(--main-black);
  font-size: var(--fs-18);
  font-weight: var(--fw-400);
  line-height: var(--lh-32);
}

.cta-get-the-app-description {
  color: var(--main-black);
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  line-height: var(--lh-28);
}

.cta-badge-container {
  gap: var(--space-12);
}

.call-to-action-mockup-container {
  height: 500px;
}

.call-to-action-mockup-container :nth-child(1) {
  margin-bottom: auto;
}

.call-to-action-mockup-container :nth-child(2) {
  margin-top: auto;
}
.cta-mockup {
  max-width: 90%;
}

@media screen and (max-width: 1200px) {
  .call-to-action-header {
    font-size: var(--fs-36);
    line-height: var(--lh-50);
  }

  .call-to-action-description {
    font-size: var(--fs-14);
    line-height: var(--lh-26);
  }

  .cta-get-the-app-description {
    font-size: var(--fs-16);
    line-height: var(--lh-24);
  }

  .call-to-action-mockup-container {
    height: 400px;
  }

  .cta-mockup {
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .call-to-action-section {
    padding: 0;
    text-align: center;
  }

  .call-to-action-section-content,
  .call-to-action-title,
  .call-to-action-header,
  .cta-get-the-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .call-to-action-section-wrapper {
    padding: var(--space-40) var(--space-16);
    gap: var(--space-32);
  }

  .call-to-action-header {
    font-size: var(--fs-24);
    line-height: var(--lh-40);
  }

  .call-to-action-description {
    font-size: var(--fs-12);
    line-height: var(--lh-22);
  }
  .cta-badge-container {
    flex-direction: column;
    max-width: 70%;
    gap: var(--space-6);
  }
  .cta-get-the-app-description {
    font-size: var(--fs-14);
    line-height: var(--lh-22);
  }
  .call-to-action-mockup-container {
    display: none;
  }
}
