.feature-multiple{
    display: flex;
    padding: 64px 165px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;

    background: var(--default-white, #FFF);
}

.section-heading{
    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.the-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.section-tile{
    width: 540px;

    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    /* Heading / H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}

.description{
    align-self: stretch;

    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

/* Part II */

.features-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 100px;
}

.features-row{
    display: flex;
    align-items: center;

    gap: 30px;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.headline{
    width: 350px;

    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}

.little-description{
    width: 350px;

    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}



@media all and (max-width: 1000px){
    .features-list{
        display: inline-flex;
        flex-direction: column;
        /* Work in progress. */
    }
}