.feature-section-2 {
  padding: var(--space-64) var(--space-20);
}

.feature-section-2-wrapper {
  max-width: 1110px;
  margin-inline: auto;
  display: flex;
  gap: var(--space-30);
  align-items: center;
}

.phone-mockup-container {
  width: fit-content;
  height: fit-content;
  background-color: #f1e4ff;
  padding: var(--space-56) var(--space-90) 0;
}

.feature-section-2-phone {
  width: 100%;
  max-width: 360px;
}

.feature-section-2-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-32);
  max-width: 540px;
  padding: 0 var(--space-48);
}

.headline {
  color: var(--text-gray-900, #18191f);
  font-size: var(--fs-40);
  line-height: var(--lh-54);
}

.para {
  color: var(--text-gray-900, #18191f);
  font-size: var(--fs-18);
  line-height: var(--lh-32);
}

.get-started-btn {
  color: var(--brand-purple, #8c30f5);
  font-size: var(--fs-16);
  line-height: var(--lh-24);
  display: flex;
  gap: var(--space-8);
}

@media (max-width: 1024px) {
  .feature-section-2 {
    padding: 0 var(--space-20);
  }

  .feature-section-2-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .headline {
    font-size: var(--fs-30);
    line-height: var(--lh-40);
  }

  .para {
    font-size: var(--fs-12);
    line-height: var(--lh-20);
  }

  .phone-mockup-container {
    width: 100%;
    display: grid;
    place-items: center;
  }
}
