
.main-header{
    display: inline-flex;
    padding: 20px 140px;
    justify-content: center;
    align-items: center;
    gap: 620px;
    position: relative; /* Thinking about it. */
   
}

@media all and (max-width: 1000px){
    .main-header{
        padding: 12px 100px;
        gap: 50px;
        flex-wrap: wrap;
        flex: 1 1 50%;
        flex-direction: column;
    }
}