.hero-header {
  padding: var(--space-16);
  position: sticky;
  top: 0;
  z-index: 9;
}

.blurred-bg {
  backdrop-filter: blur(30px);
}

.hero-header .nav-link {
  color: var(--main-black);
}

.hero-header-navigator {
  display: flex;
  padding: var(--space-16) var(--space-120);
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  display: flex;
  align-items: center;
  font-weight: var(--fw-400);
  gap: var(--space-30);
  transition: 0.3s ease-in-out;
}

.left-nav li:hover {
  font-weight: bold;
}

.left-nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-12);
  padding-right: var(--space-12);
}

.logo-text {
  color: var(--main-black);
  line-height: var(--lh-logo-height);
  font-weight: var(--fw-900);
  font-size: var(--fs-24);
  fill: var(--main-black);
  letter-spacing: 0.01px;
  filter: var(--soft-shadow);
}

.nav-link {
  font-size: var(--fs-16);
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: var(--lh-24);
}

/*  Dropdown */
.dropdown {
  position: relative;
  flex-direction: row;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-smoke);
  min-width: var(--space-160);
  box-shadow: var(--soft-shadow-2);
  z-index: 1;
}

.dropdown-content a {
  padding: var(--space-12) var(--space-16);
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: var(--space-24);
}

.dropdown-content a:hover {
  background-color: var(--white);
}

#hamburger {
  display: none;
  font-size: var(--fs-32);
  line-height: var(--lh-32);
  cursor: pointer;
}

.flex-container-list {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.logo,
.hero-badge {
  min-width: var(--space-96);
}

@media screen and (max-width: 1200px) {
  .hero-header-navigator {
    gap: var(--space-20);
    padding: var(--space-6) var(--space-30);
  }

  .left-nav {
    max-width: 490px;
    gap: 14px;
  }

  .logo-text {
    font-size: 18px;
  }

  .flex-container {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .hero-header-navigator {
    padding: 5px;
  }

  .hero-header {
    padding-top: var(--space-20);
  }

  .logo-text {
    display: none;
  }

  .left-nav {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    padding: var(--space-20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(30px);

    position: fixed;
    top: 0;
    left: -100%;
    z-index: 8;
  }

  .logo {
    min-width: fit-content;
    padding: 0;
  }

  .nav-link {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    opacity: 0.8;
  }

  .dropdown-content {
    top: 10px;
  }

  .logo {
    min-width: fit-content;
    padding: 0;
  }

  .nav-link {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    opacity: 0.8;
  }

  .dropdown-content {
    top: 10px;
  }

  .left-nav.active {
    transition: 0.3s ease-in-out;
    left: 0%;
  }

  #hamburger {
    display: unset;
    z-index: 10;
  }
}
