
.main-header{
    display: flex;
    padding: 16px 165px;
    justify-content: space-between;
    align-items: center;
    gap: 261px;
}

@media all and (max-width: 1200px){
    .main-header{
        padding: 12px 100px;
        gap: 50px;
        flex-wrap: wrap;
        flex: 1 1 50%;
        flex-direction: column;
    }

}