.hero-title {
  font-family: var(--primary-font);
  font-size: var(--fs-72);
  font-weight: var(--fw-800);
  line-height: var(--lh-98);
}

.title-word {
  display: block;
}

.hero-section {
  display: flex;
  justify-content: center;
  margin-top: var(--space-96);
  gap: var(--space-45);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: var(--space-30);
  margin-top: var(--space-70);
}

.hero-button {
  font-family: var(--primary-font);
  padding: var(--space-12) var(--space-30);
  border-radius: var(--space-6);
  background: var(--purple);
  border: transparent;
  color: var(--white);
}

.hero-area:nth-child(2) {
  max-width: 20%;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    gap: var(--space-30);
    margin-top: var(--space-70);
  }

  .main-content {
    margin-top: var(--space-50);
  }

  .hero-title {
    font-size: var(--fs-42);
    line-height: var(--lh-60);
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: var(--fs-42);
    line-height: var(--lh-50);
    text-align: center;
  }

  .hero-area:nth-child(2) {
    display: none;
  }

  .hero-area {
    display: grid;
    place-items: center;
  }

  .main-content {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .hero-title {
    font-size: var(--fs-32);
    line-height: var(--lh-40);
  }

  .hero-section {
    margin-top: var(--space-50);
    gap: 0;
  }
}
