
.left-nav{
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.logotype{
    display: flex;
    flex-direction: row;
    width: 105px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 9.2px;
}


.left-nav-items{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    flex-direction: row;
    list-style: none;
}



.nav-link-text{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
    
    /* Label / Medium Label */
    text-decoration: none;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}


.dropdown {
    position: relative;
    flex-direction: row;
    display: flex;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content{
    display: block;
    margin-top: 20px;
}

.dropdown-content a:hover{
    background-color: #ddd;
}


@media all and (max-width: 1200px){
    .left-nav{
        flex-direction: column;
        text-align: center;
    }
    .logotype{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        flex-direction: column;
    }
    .left-nav-items{
        flex-direction: column;
        margin: 0% auto 0 auto;
    }
}