.logo-clouds{
    display: flex;
    padding: 16px 165px;
    height: 142px;
    justify-content: center;
    align-items: center;


    background: var(--default-white, #FFF);

}
.logos-section{

    display: flex;
    height: 110px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.logos{
    display: flex;
    padding: 16px 0px 0px 80px;
    align-items: center;
    gap: 64px;
}

.divider{
    width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, 
    rgba(192, 204, 218, 0.60) 50%, rgba(192, 204, 218, 0.10) 100%)
}

@media all and (max-width: 1000px){
    .logos{
        flex-direction: column;
    }
    .logos-section{
        height: 10px;
    }
    .logo-clouds{
        height: 50px;
        margin-top: 300px;
    }
}