.features-section-3 {
  padding: 64px 20px;
}

.feature-section-3-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-48);
}

.feature-section-3-details {
  gap: var(--space-30);
  display: flex;
}

.feature-section-3-title {
  max-width: 540px;
  min-width: 45%;
  color: var(--text-gray-900, #18191f);
  font-size: var(--fs-38);
  line-height: var(--lh-50);
}

.feature-section-3-description {
  max-width: 540px;
  min-width: 45%;
  color: var(--text-gray-900, #18191f);
  font-size: var(--fs-18);
  line-height: var(--lh-32);
}

.cover-image {
  display: block;
  justify-content: center;
}

@media (max-width: 1024px) {
  .feature-section-3-details {
    flex-direction: column;
    gap: var(--space-10);
  }
  .feature-section-3-title,
  .feature-section-3-description {
    text-align: center;
    max-width: unset;
    min-width: 80%;
    padding: 20px;
  }

  .feature-section-3-title {
    font-size: var(--fs-24);
    line-height: var(--lh-32);
  }
  .feature-section-3-details {
    font-size: var(--fs-16);
    line-height: var(--lh-24);
  }
}
