@import "./stylesheets/reset.css";
@import "./stylesheets/variables.css";
@import "./stylesheets/header.css";
@import "./stylesheets/hero-section.css";
@import "./stylesheets/logo.css";
@import "./stylesheets/features-section-part-1.css";
@import "./stylesheets/testimonial.css";
@import "./stylesheets/statistics-section.css";
@import "./stylesheets/call-to-action.css";
@import "./stylesheets/footer-menu.css";
@import "./stylesheets/features-section-part-2.css";
@import "./stylesheets/features-section-part-3.css";

.app-container {
  max-width: 1440px;
  margin-inline: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-20);
}
