/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (prefers-reduce-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: var(--primary-font);
  font-size: var(--fs-16);
  line-height: var(--lh-18);
  color: var(--main-black);
  min-height: 100vh;
  min-height: 100dvh;

  background-image: url("/images/background.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
